.container2 {
    display: flex;
    min-height: 5vh;
    width: 64.5%;
    .section_card {
        padding: 5rem;
        &:first-child {
            border-radius: 0.5rem 0 0 0.5rem;
        }
        &:last-child {
            border-radius: 0 0.5rem 0.5rem 0;
        }
        p {
            margin-bottom: 10.4rem;
        }
    }
}