@charset "UTF-8";
/*
1.pocicionamiento
2.modelo de caja
3.tipografia
4.visuales
5.misalaneos o otros.
*/
:root {
  /*font of proyect*/
  --font_tittle: "Big Shoulders Display", cursive;
  --font_paragraphs: "Lexend Deca", sans-serif;
  /*colors of proyect*/
  --Bright_orange: hsl(31, 77%, 52%);
  --Dark_cyan: hsl(184, 100%, 22%);
  --Very_dark_cyan: hsl(179, 100%, 13%);
  --Transparent_white_paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very_light_gray_background_headings_buttons: hsl(0, 0%, 95%);
}

html {
  /*ajuste para uso del rem 1 rem = 10px para tamaño de fuente*/
  font-size: 62.5%;
}

body {
  /*ajuste tamaño de fuente y box model*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  background-color: var(Very_light_gray_background_headings_buttons);
}

/*section principal card*/
.centrar {
  /*ajuste centrado y pocicionamiento*/
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*section de autor y diseño*/
}
.centrar .container {
  /*tamaño of card*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  height: 90vh;
  /*contenido individual of card*/
}
.centrar .container .section_card {
  height: 50rem;
  width: 30rem;
  padding: 4rem;
}
.centrar .container .section_card:nth-child(1) {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--Bright_orange);
}
.centrar .container .section_card:nth-child(2) {
  background-color: var(--Dark_cyan);
}
.centrar .container .section_card:nth-child(3) {
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--Very_dark_cyan);
}
.centrar .container h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--font_tittle);
  color: var(--Very_light_gray_background_headings_buttons);
}
.centrar .container p {
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 7rem;
  font-family: var(--font_paragraphs);
  color: var(--Transparent_white_paragraphs);
}
.centrar .container a {
  text-align: center;
  padding: 1.2rem 1.9rem;
  font-weight: 400;
  border-radius: 5rem;
  text-decoration: none;
  cursor: pointer;
  border: 0.3rem solid var(--Very_light_gray_background_headings_buttons);
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem rgba(56, 56, 56, 0.5);
          box-shadow: 0.1rem 0.1rem 0.5rem rgba(56, 56, 56, 0.5);
  font-family: var(--font_paragraphs);
  background-color: var(--Very_light_gray_background_headings_buttons);
}
.centrar .container .section_card:nth-child(1) > a {
  color: var(--Bright_orange);
}
.centrar .container .section_card:nth-child(2) > a {
  color: var(--Dark_cyan);
}
.centrar .container .section_card:nth-child(3) > a {
  color: var(--Very_dark_cyan);
}
.centrar .container .section_card > a:hover {
  background: none;
  color: var(--Very_light_gray_background_headings_buttons);
}
.centrar .attribution {
  text-align: center;
  font-family: var(--font_paragraphs);
}
.centrar .attribution h3 {
  font-size: 1.5rem;
}
.centrar .attribution a {
  color: #3e52a3;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
}
.centrar .attribution a:hover {
  cursor: pointer;
  color: var(--Desaturated_blue);
  opacity: 0.88;
}