@charset "UTF-8";
/*
1.pocicionamiento
2.modelo de caja
3.tipografia
4.visuales
5.misalaneos o otros.
*/
:root {
  /*font of proyect*/
  --font_tittle: "Big Shoulders Display", cursive;
  --font_paragraphs: "Lexend Deca", sans-serif;
  /*colors of proyect*/
  --Bright_orange: hsl(31, 77%, 52%);
  --Dark_cyan: hsl(184, 100%, 22%);
  --Very_dark_cyan: hsl(179, 100%, 13%);
  --Transparent_white_paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very_light_gray_background_headings_buttons: hsl(0, 0%, 95%);
}

html {
  /*ajuste para uso del rem 1 rem = 10px para tamaño de fuente*/
  font-size: 62.5%;
}

body {
  /*ajuste tamaño de fuente y box model*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
}

main {
  /*ajuste de fondo y pocicionamiento*/
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(Very_light_gray_background_headings_buttons);
}

/*section principal card*/
.container {
  /*tamaño of card and font*/
  width: 100%;
  max-width: 16rem;
  height: 100%;
  max-height: 65.1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  /*contenido individual of card*/
}
.container h1 {
  margin: 0;
  text-align: justify;
  font-weight: 700;
  color: var(--Very_light_gray_background_headings_buttons);
  font-family: var(--font_tittle);
}
.container p,
.container a {
  margin: 0;
  font-weight: 400;
  text-align: justify;
  text-decoration: none;
  font-family: var(--font_paragraphs);
}
.container span {
  height: 5rem;
  width: 5rem;
}
.container .sedans {
  width: inherit;
  height: 21.7rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--Bright_orange);
}
.container .suvs {
  width: inherit;
  height: 21.7rem;
  background-color: var(--Dark_cyan);
}
.container .luxury {
  width: inherit;
  height: 21.7rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--Very_dark_cyan);
}

/*section de autor y diseño*/
.attribution {
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--font_paragraphs);
}
.attribution a {
  color: #3e52a3;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
}
.attribution a:hover {
  cursor: pointer;
  color: var(--Desaturated_blue);
  opacity: 0.88;
}